.c-modal-main__copy--selected {
	background: color-get(button, selected);
	border-color: darken(color-get(button, selected), 20);
}

.c-modal-main__settings {
	@extend .c-label, .c-label--link;
}

.c-modal-main__textarea textarea {
	padding: sp(-52) sp(-gutter) sp(-60);
	font-family: font-get(secondary);
	font-size: iota-ms(1);
	min-height: 45vh;
	max-height: 70vh;
	color: color-get(text, light);
	transition: color 0.2s;
}

.c-modal-main__textarea--selected textarea {
	transition: color 0.4s;
	color: rgba(black, 0.2);
}

.c-modal-main__textarea {
	position: relative;
	// label
	&:before {
		@extend .c-label;
		content: 'GENERATED PLACEHOLDER TEXT';
		margin: sp(-16) sp(-gutter) 0;
		position: absolute;
		left: 0; top: 0;
		opacity: 0.4;
		background: color-get(bg);
	}

	// shadow
	&:after {
		content: '';
		height: 4em;
		position: absolute;
		left: 0; right: 0;
		bottom: 0;
		pointer-events: none;
		background: linear-gradient(
			to bottom,
			transparent 0%,
			color-get(bg) 100%
		);
	}
}
