.c-modal__panel {
	@extend .o-media, .o-media--middle;
	padding: sp(-12) sp(-gutter);
	background: color-get(bg, alt);
	border-bottom: 1px solid color-get(bg, border);
}

.c-modal__title {
	font-size: iota-ms(1);
	font-weight: bold;
	padding: sp(-8) 0;
}

.c-modal__subtitle {
	font-size: iota-ms(0);
}

.c-modal__container {
	padding: sp(-20) sp(-gutter) sp(-28);
}
