.c-popup {}

.c-popup__params {
	padding: sp(16) sp(20) sp(16) sp(28) !important;
}

.c-popup__textarea {
	textarea {
		padding: sp(52) 0;
		@extend .o-container, .o-container--main;
		display: block;
		min-height: 350px;
		max-height: 450px;

		font-family: 'Lora';
		font-size: ms(0);

		color: #757474;
		resize: vertical;
		overflow-y: scroll;
	}

	position: relative;

	// Fade Out
	&:after {
		content: '';
		height: 4rem;

		position: absolute;
		left: 0; right: 0;
		bottom: 0;

		pointer-events: none;
		background: linear-gradient(to bottom,
			transparent 0%,
			#FBFBFB 90%
		);
	}

	// Label
	&:before {
		content: 'Generated Text';
		@extend .o-container;
		@extend .o-label, .o-label--small;

		position: absolute;
		top: sp(16);
		left: sp(24);

		pointer-events: none;
		opacity: 0.4;
	}
}
