.o-container {
	padding-left: sp(28) !important;
	padding-right: sp(28) !important;
}

.o-container--main {
	padding-top: sp(24);
	padding-bottom: sp(24);
	background: #F9F9F9;

	border: 1px solid #E6E6E6;
	border-top: none;
}
