$type-base-font: 16px;
$type-ratio: 1.15;
$type-line-height: 1.5;

$font: (
	primary: ('HK Grotesk', Helvetica, sans-serif),
	secondary: ('PT Serif', serif)
);

@function font-get($val) {
	@return map-get($font, $val);
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
