/**
 * The base value the scale starts at.
 *
 * Number
 */

$iota-tools-ms-base: $type-base-font;


/**
 * The ratio the scale is built on
 *
 * Unitless Number
 */

$iota-tools-ms-ratio: $type-ratio;


/**
 * Length of scale ( right part of the decimal
 * point ) ms will be rounded to.
 *
 * Unitless Number
 */

$iota-tools-ms-scale: 6;


@import 'node_modules/iotacss/tools/ms';
