:host {
	position: fixed;
	top: 1rem; right: 1rem;
	z-index: 9999999;
	font-size: 2rem;
}

*, *:after, *:before { box-sizing: border-box; }

#modal {
	width: 520px;
	background: color-get(bg);
	border: 1px solid color-get(bg, border);
	color: color-get(text);

	&.hidden { display: none; }
}

#overlay {
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	z-index: -1;
}

::selection {
	background: color-get(button, selected);
	color: lighten(color-get(button, selected), 37);
}

textarea, button, input {
	font-family: font-get(primary);
	font-size: iota-ms(0);
	line-height: $type-line-height;
	color: color-get(text);
	outline: none;
}

textarea {
	display: block;
	width: 100%;
	border: none;
	background: none;
	resize: vertical;
	overflow-y: scroll;
}

::-webkit-resizer {
	cursor: nwse-resize;
	background: color-get(text);
}

button {
	@extend .c-label, .c-label--large;
	display: inline-block;
	padding: sp(-8) sp(-20);

	color: white;
	background: color-get(button);
	border: 1px solid darken(color-get(button), 15);
	cursor: pointer;
	transition: opacity 0.3s, color 0.3s, background 0.3s;
	opacity: 0.8;
	&:hover { opacity: 1; }

	&:disabled {
		border-color: color-get(text, light);
		background: lighten(color-get(text, light), 15);
		opacity: 0.5;
		cursor: default;
	}
}

input[type='number'] {
	text-align: center;
	font-size: iota-ms(1);
	font-weight: bold;
	background: color-get(bg);
	border: 1px solid darken(color-get(bg), 20);
	border-radius: $baseline;

	transition: border-color 0.3s;
	&:hover { border-color: rgba(color-get(button, link), 0.7); }
	&:focus { border-color: color-get(button, link); }

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		opacity: 1;
	}
}

input[type='checkbox'] {
	display: none;

	& + label:after {
		content: '';
		position: absolute;
		top: 0.3em; left: 0.15em;
		width: 0.7em; height: 0.4em;
		border: 0.1em solid white;
		border-top: none; border-right: none;
		transform: rotate(-45deg) scale(0);
		transition: transform 0.3s;
	}

	& + label { position: relative; margin: 0; }
	& + label:before {
		content: '';
		display: inline-block;
		width: 1em; height: 1em;
		margin-right: sp(-12);
		vertical-align: middle;
		border: $baseline/2 solid color-get(text, light);
		border-radius: $baseline;
		background: color-get(bg);
		transition: all 0.1s;
	}

	&:hover + label:before { border-color: color-get(button, link);	}
	&:checked {
		& + label:before {
			color: color-get(button, link);
			background: currentColor;
			border-color: currentcolor;
		}

		& + label:after {
			transform: rotate(-45deg) scale(1);
		}
	}
}

label {
	position: relative;
	vertical-align: middle;
	cursor: pointer;

	font-weight: 500;
	margin-left: sp(-12);
	color: color-get(text, light);

	& + input { margin-left: sp(-16); }
}

